<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MytestSuite" >
<!--<parameter name="email" value = "test@test.com" />-->
<listeners>
   <listener class-name = "testNGPackage.ListenerTest" />
</listeners>

<test name = "testNGTest" verbose = "2" >
	<!--<groups>
	<run>
	<include name = "Performance" />
	<include name = "Functional" />
	<include name = "Regression" />
	</run>
	</groups>-->
		<classes>
			<!--<class name="testNGPackage.testNGClass" />
			<class name="testNGPackage.AnothertestNGClass" />
			<class name="testNGPackage.TestNGParameters" />
			<class name="testNGPackage.testNGGrouping" />-->
			<class name="testNGPackage.testNGAntJenkins" />
		</classes>
	</test>
</suite>